<aside id="filter">
    <div class="filter-container">
        <form action="GET">
            <h1>Filtrar</h1>
            <div id="buscar_directores">
                <input type="text" id="directors" placeholder="Director">
                <input class="search" type="submit" value="buscar">
            </div><br>
            <div id="buscar_nombre">
                <input type="text" id="movie_name" placeholder="Pelicula">
                <input class="search" type="submit" value="buscar">
            </div>
        </form>
    </div>
</aside>
