
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

a {
    color: aliceblue;
}

h1 {
    color: #fff;
    margin: 2rem 0px;
}

/*BARRA DE NAVEGACION*/
main{
    min-height: 94vh;
    background-color: rgb(31, 31, 31);
}
.navbar {
    display: flex;
    width: 100%;
    height: 6vh;
    background-color: black;
    padding: 20px;
}

.navbar-p1, .navbar-p2, .navbar-p3  {
    display: flex;
    width: 33%;
    gap: 20px;
    align-items: center;
}

.navbar-p2 #search {
    width: 100%;
}

.navbar-p2 > * {
    padding: 5px;
}

.navbar-p3 {
    display: flex;
    justify-content: flex-end;
}

/*SECCION DE PELICULAS*/
#peliculas-actuales{
    min-height: 100%;

}
#estrenos-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    text-align: center;
    
}

.container__cajas {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 0px auto 20px auto;
    background-color: rgb(14, 14, 14);
    padding: 20px;
}

.cajas {
    width: 300px;
    height: 500px;
    border-radius: 20px;
}


.cajas-p1 {
    width: 100%;
    height: 85%;
    border-radius: 20px;
}

.cajas-p1 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.cajas-p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: rgb(31, 31, 31);
    color: #fff;
    border-radius: 0px 0px 20px 20px;
}

#form_api_search{
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
#form_api_search > *{
    margin: 0;
    border: 0;
    height: 50%;
    flex-grow: 1;
    min-width: 100px;
    font-family:Arial;
	font-size:19px;
	font-weight:bold;
	font-style:italic;
	padding:9px 22px;
	text-decoration:none;
}
#form_api_search > input[type="submit"]{
    max-width: 25%;
    box-shadow:inset 0px 0px 15px 3px #20509e;
	background:linear-gradient(to bottom, #4b82db 5%, #6b92e0 100%);
	background-color:#4b82db;
	color:#ffffff;
	cursor:pointer;
	
	text-shadow:0px 1px 0px #263666;
}
#form_api_search > input[type="submit"]:hover {
	background:linear-gradient(to bottom, #6b92e0 5%, #4b82db 100%);
	background-color:#6b92e0;
}
#form_api_search > input[type="submit"]:active{
	position:relative;
	top:1px;
}
