<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_omdbapi_search.css') }}">
        <title>Pagina</title>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul class="navbar-p1">
                    <li><a href="">Inicio</a></li>
                    <li><a href="#">Cartelera</a></li>
                </ul>
                <div class="navbar-p2">
                    <input id="search" type="search">
                    <input id="submit" type="submit" value="Buscar">
                </div>
                <ul class="navbar-p3">
                    <li><a href="/login">Ingresar</a></li>
                    <li><a href="#">Registrarse</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="peliculas-actuales">
                <div id="estrenos-container">
                    <h1>Buscador OMDBAPI</h1>
                    <div class="container__cajas">
                        <form action="" id="form_api_search">
                            <input type="text" placeholder="Movie Name" id="input_search">
                            <input type="submit" value="Search">
                        </form>
                        <div id="display_movies" style="display: none">
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
    <script src="{{ url_for('static', filename='js/omdb_api_query.js') }}"></script>
</html>