<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mainStyles.css')}}">
    <title>Pagina Cine</title>
</head>
<body>
    <header>
        <img id="logoPage" src="../images/logoPage.jfif" alt="logoPage Image">
        <div id="form-search-movie">
            <form action="" >
                <input type="search">
                <input type="submit" value="Buscar">
            </form>
        </div>
        <div id="account-header">
            <p>Cuenta</p>
            <a href=""><i class=""></i></a>
        </div>
    </header>
    <main>
        <article>
            <section id="cartelera">
                <h1>Cartelera</h1>
                <p>¡Peliculas de esta semana!</p>
                <div id="cartelera_peliculas">
                    <div class="peliculas-cartelera">
                        <h2>Nombre pelicula</h2>
                        <img src="" alt="pelicula">
                    </div>
                    <div class="peliculas-cartelera">
                        <h2>Nombre pelicula</h2>
                        <img src="" alt="pelicula">
                    </div>
                    <div class="peliculas-cartelera">
                        <h2>Nombre pelicula</h2>
                        <img src="" alt="pelicula">
                    </div>
                    <div class="peliculas-cartelera">
                        <h2>Nombre pelicula</h2>
                        <img src="" alt="pelicula">
                    </div>
                </div>
            </section>
            <section>
                <h1>La pelicula mas vista esta semana</h1>
                <div id="peliculaMasVista">
                    <img src="" alt="imagenPeliculaMasVista">
                    <div>
                        <h2 id="nombrePelicula">Nombre de la pelicula</h2>
                        <p id="actores">Actores:</p>
                        <p id="sipnosisPelicula">Sinopsis de la pelicula: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, quisquam.</p>
                    </div>
                </div>
            </section>
            <section>

            </section>
        </article>
    </main>
    <aside>
        
    </aside>
    <footer></footer>
    <script src="https://kit.fontawesome.com/b039591234.js" crossorigin="anonymous"></script> 
</body>
</html>