<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-users.css') }}">
        <title>index</title>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul class="navbar-p1">
                    <li><a href="">Inicio</a></li>
                </ul>
                <div class="navbar-p2">
                    <input id="search" type="search">
                    <input id="submit" type="submit" value="Buscar">
                </div>
                <ul class="navbar-p3">
                    <li><a href="/login">Ingresar</a></li>
                </ul>
            </nav>
        </header>
        
        <main>

            <aside id="filter">
                <div class="filter-container">
                    <h1>Filtrar</h1>
                    <form action="GET">
                        <div id="buscar_directores">
                            <input type="text" id="directors" placeholder="Director">
                            <input type="submit" value="buscar">
                        </div><br>
                        <div id="buscar_nombre">
                            <input type="text" id="movie_name" placeholder="Pelicula">
                            <input type="submit" value="buscar">
                        </div>
                    </form>
                </div>
            </aside>

            <section id="peliculas-actuales">
                <div id="estrenos-container">
                    <h1>Ultimas peliculas cargadas</h1>
                    <div class="container__cajas">
                        <div class="cajas">
                            <div class="caja-principal">
                                <div class="cajas-p1">
                                    <img src="{{ url_for('static', filename='images/spiderman.jpg') }}" alt="pelicula">
                                </div>
                                <div class="cajas-p2">
                                    <div id="delete">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </div>
                                    <h3 class="movie-title">Lorem ipsum dolor sit amet.</h3>
                                    <div class="movie-info">
                                        <span id="sinopsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur commodi et nulla repellat corrupti accusantium voluptate sunt fugit earum magni, molestiae esse. Nam laborum ratione ab sint. Possimus, ea vitae.</span>
                                        <span>Director:</span>
                                        <span>Año:</span>
                                        <span>Genero:</span>
                                    </div>
                                </div>
                            </div>
                            <div id="comments">
                                <h3>Comentarios</h3>
                                <div class="comments-container">
                                    <div class="comment">
                                        <span><b>@Nombre usuario</b></span>
                                        <span>Comentario</span>
                                    </div>
                                    <div class="comment">
                                        <span><b>@Nombre usuario</b></span>
                                        <span>Comentario</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </body>
</html>